
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>*@
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="schoolController">
        <tedu-shop-directive></tedu-shop-directive>
        <input type="number" ng-model="num" /> Value of text: {{num}}
        <button ng-click="checkNumber()">Check Number</button>
        <br />
        {{message}}
    </div>
</body>
</html>
