
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="Math">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Math</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/Math.js"></script>
</head>
<body>
    <div ng-controller="TinhToanController">
        <p>Nhập số a: </p>
        <input type="number" ng-model="numa" />
        <br />
        <p>Nhập số b: </p>
        <input type="number" ng-model="numb" />
        <br />
        <br />
        <button ng-click="PhepCong()">Phép Cộng</button>

        <button ng-click="PhepTru()">Phép Trừ</button>

        <button ng-click="PhepNhan()">Phép Nhân</button>

        <button ng-click="PhepChia()">Phép Chia</button>
        <br />
        {{message}}

    </div>
</body>
</html>
